$spring-green: #67FE94;
$white: #FFFFFF;
$dark-purple: #231131;
$french-violet: #8235C0;
$heliotrope: #C064FE;
$violet-web : #FF86FF;

$background-color: #0A0010;

$dark-color: $background-color;

$container-full: 1400px;
$container: 1200px;